Class-Examples/Schematron/Example_Prosop/SchematronClassExProsopReport.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process"
    xmlns="http://purl.oclc.org/dsdl/schematron">
    <pattern>
        <rule context="geo">    
            <report test="matches(., ',')"></report>
        </rule>
    </pattern>
</schema>